@use "../source/config/cores.scss";
@use "../source/config/reset.scss";
@use "../source/sections/header.scss";
@use "../source/sections/section.scss";

body {
  background-color: cores.$corSecundaria;
}
li {
  list-style: none;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 80%;
  }
  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media screen and (max-width: 767px) {
  .products {
    display: block;
  }

  .product-item {
    margin-bottom: 32px;
  }
}
